body {
  font-family: 'Poppins', sans-serif;
  color: #5E6282;
  height: 100vh;
  overflow-x: hidden;
}

.custom-text {
  display: flex;
  color: black;
  font-weight: bold;
}
.custom-text ul li a {
  font-weight: 600;
  font-size: 17px;
}
.Signup {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 0px 10px;
}

.hero h5 {
  color: #DF6951;
  font-weight: 700;
}

.hero h1 {
  font-family: 'sans-serif';
  font-weight: bold;
  font-size: 4rem;
}


h1 {
  font-family: 'sans-serif';
  color: #000;
}

.btn-primary {
  background-color: #F1A501;
  border: none;
}

.btn-link {
  color: #686D77;
  font-weight: bold;
}

#services {
  text-align: center;
}

.section-margin-top {
  margin-bottom: 100px;
}

.our-client-img img {
  max-height: 80px;
  object-fit: contain;
}
/* .footer-nav ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.footer-nav li {
    margin-bottom: 5px;
    font-size: 14px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
} */
.color-btn{
    background-color:#FF7D68;
    color: white;
}
/* Base: full width for small screens */
.email-input {
    width: 100%;
    max-width: 100%;
}

.subscribe-btn {
    width: 100%;
}

/* Medium and up: input 50%, button auto */
@media (min-width: 768px) {

    .email-input {
        width: 50%;
    }
    
    .subscribe-btn {
        width: auto;
    }
}
